<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983873025775-s3alv9o2lutpqbkvohi8fiak748jtbuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983873025775-s3alv9o2lutpqbkvohi8fiak748jtbuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQixDXIIqrpFvfyzkVXVEHsZhlA9RvqUk</string>
	<key>GCM_SENDER_ID</key>
	<string>983873025775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midodev.groupCharry</string>
	<key>PROJECT_ID</key>
	<string>newchatapp-5f1cf</string>
	<key>STORAGE_BUCKET</key>
	<string>newchatapp-5f1cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983873025775:ios:4f479e239e631758794d1a</string>
</dict>
</plist>